In [1]:
# Version Check
import sqlalchemy
sqlalchemy.__version__

'1.3.1'

In [2]:
# Connecting to DataBase
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:8@ttle#1eld5@localhost:5432/akkdb', echo=True)

In [3]:
# Declare a mapping
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [4]:
from sqlalchemy import Column, Integer, String

In [5]:
class User(Base):
    __tablename__ = 'users'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)
    
    def __init__(self, name, fullname, nickname):
        self.name = name
        self.fullname = fullname
        self.nickname = nickname
    
    
    def __repr__(self):
        return f"<User(name={self.name}, fullname={self.fullname}, nickname={self.nickname})>"

In [6]:
# verify the table metadata
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('nickname', String(), table=<users>), schema=None)

In [7]:
# create a schema
Base.metadata.create_all(engine)

2019-04-10 01:04:13,157 INFO sqlalchemy.engine.base.Engine select version()
2019-04-10 01:04:13,158 INFO sqlalchemy.engine.base.Engine {}
2019-04-10 01:04:13,163 INFO sqlalchemy.engine.base.Engine select current_schema()
2019-04-10 01:04:13,164 INFO sqlalchemy.engine.base.Engine {}
2019-04-10 01:04:13,169 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-04-10 01:04:13,170 INFO sqlalchemy.engine.base.Engine {}
2019-04-10 01:04:13,173 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-04-10 01:04:13,174 INFO sqlalchemy.engine.base.Engine {}
2019-04-10 01:04:13,176 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2019-04-10 01:04:13,178 INFO sqlalchemy.engine.base.Engine {}
2019-04-10 01:04:13,182 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-04-10 01:04:13,183 INFO sqlalchemy.engine.base.Engine {'name': 'users'}
2019-04-10 01:04:13,196 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id SERIAL NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	nickname VARCHAR,
	PRIMARY KEY (id)
)


2019-04-10 01:04:13,198 INFO sqlalchemy.engine.base.Engine {}
2019-04-10 01:04:13,519 INFO sqlalchemy.engine.base.Engine COMMIT

In [8]:
# Create an instance of the mapped Class
inoo_user = User(name='Aryaansh', fullname='Aaryaansh Arora Khattri', nickname='inoo')

In [9]:
inoo_user.name

'Aryaansh'

In [10]:
inoo_user.nickname

'inoo'

In [11]:
str(inoo_user.id)

'None'

## Creating a Session

In [12]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

## Adding and Updating Objects

In [13]:
# to persist our User object, we add() it to our Session:
inoo_user = User(name='Aryaansh', fullname='Aaryaansh Arora Khattri', nickname='inoo')
session.add(inoo_user)

at this point we say that the instance is pending; no SQL has yet been issued and the object is not yet represented by a row in the database. The Session will issue the SQL to persist <font color='blue'>inoo</font>
 as soon as is needed, using a process known as a **flush**. If we query the  database for <font color='blue'>inoo</font>, all pending information will first be flushed, and the query is issued immediately thereafter.

In [14]:
# create a new Query object which loads instances of User.
our_user = session.query(User).filter_by(name='Aryaansh').first()
our_user

2019-04-10 01:04:14,313 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-04-10 01:04:14,315 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, nickname) VALUES (%(name)s, %(fullname)s, %(nickname)s) RETURNING users.id
2019-04-10 01:04:14,316 INFO sqlalchemy.engine.base.Engine {'name': 'Aryaansh', 'fullname': 'Aaryaansh Arora Khattri', 'nickname': 'inoo'}
2019-04-10 01:04:14,320 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name = %(name_1)s
 LIMIT %(param_1)s
2019-04-10 01:04:14,322 INFO sqlalchemy.engine.base.Engine {'name_1': 'Aryaansh', 'param_1': 1}

In [15]:
inoo_user is our_user

True

In [16]:
# Add multiple user at once by add_all():
session.add_all([
    User(name='Maira', fullname='Maira Arora Khattri', nickname='mia'),
    User(name='Aarush', fullname='Aarush Arora Khattri', nickname='booboo')
])

In [17]:
# Also , correct the spelling in inoo's name:
inoo_user.name = 'Aaryaansh'

In [18]:
# The session is paying attention. It knows, for example, that inoo has been modified:
session.dirty

IdentitySet([<User(name=Aaryaansh, fullname=Aaryaansh Arora Khattri, nickname=inoo)>])

In [19]:
# and that 2 new User objects are pending
session.new

IdentitySet([<User(name=Maira, fullname=Maira Arora Khattri, nickname=mia)>, <User(name=Aarush, fullname=Aarush Arora Khattri, nickname=booboo)>])

In [20]:
session.query(User).filter_by(id=1).first()

2019-04-10 01:04:15,547 INFO sqlalchemy.engine.base.Engine UPDATE users SET name=%(name)s WHERE users.id = %(users_id)s
2019-04-10 01:04:15,549 INFO sqlalchemy.engine.base.Engine {'name': 'Aaryaansh', 'users_id': 1}
2019-04-10 01:04:15,552 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, nickname) VALUES (%(name)s, %(fullname)s, %(nickname)s) RETURNING users.id
2019-04-10 01:04:15,554 INFO sqlalchemy.engine.base.Engine {'name': 'Maira', 'fullname': 'Maira Arora Khattri', 'nickname': 'mia'}
2019-04-10 01:04:15,557 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, nickname) VALUES (%(name)s, %(fullname)s, %(nickname)s) RETURNING users.id
2019-04-10 01:04:15,559 INFO sqlalchemy.engine.base.Engine {'name': 'Aarush', 'fullname': 'Aarush Arora Khattri', 'nickname': 'booboo'}
2019-04-10 01:04:15,562 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.id = %(id_1)s
 LIMIT %(param_1)s
2019-04-10 01:04:15,564 INFO sqlalchemy.engine.base.Engine {'id_1': 1, 'param_1': 1}

In [21]:
# issue all remaining changes to the database and commit the transaction
session.commit()

2019-04-10 01:04:15,753 INFO sqlalchemy.engine.base.Engine COMMIT

In [22]:
inoo_user.id

2019-04-10 01:04:15,887 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-04-10 01:04:15,890 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.id = %(param_1)s
2019-04-10 01:04:15,891 INFO sqlalchemy.engine.base.Engine {'param_1': 1}

1

## Building a Relationship

In [23]:
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

In [24]:
class Address(Base):
    __tablename__ = 'addresses'
    id = Column(Integer, primary_key=True)
    email_address = Column(String, nullable=False)
    user_id = Column(Integer, ForeignKey('users.id'))
    
    user = relationship("User", back_populates="addresses")
    
    def __init__(self, email_address):
        self.email_address = email_address

    
    def __repr__(self):
        return f"<Address(email_address={self.email_address})"

In [25]:
User.addresses = relationship(
"Address", order_by=Address.id, back_populates="user")

The above class introduces the `ForeignKey` construct, which is a directive applied to `Column` that indicates that values in this column should be constrained to be values present in the named remote column. This is a core feature of relational databases, and is the “glue” that transforms an otherwise unconnected collection of tables to have rich overlapping relationships. The `ForeignKey` above expresses that values in the `addresses.user_id` column should be constrained to those values in the `users.id` column, i.e. its primary key.

A second directive, known as `relationship` tells the ORM that the `Address` class itself should be linked to the `User` class, using the attribute `Address.user. relationship()` uses the foreign key relationships between the two tables to determine the nature of this linkage, determining that `Address.user` will be <font color=blue>**many to one**</font>. An additional `relationship()` directive is placed on the User mapped class under the attribute `User.addresses`. In both `relationship()` directives, the parameter `relationship.back_populates` is assigned to refer to the complementary attribute names; by doing so, each `relationship()` can make intelligent decision about the same relationship as expressed in reverse; on one side, `Address.user` refers to a `User` instance, and on the other side, `User.addresses` refers to a list of Address instances.

In [26]:
# create the addresses table in the database
Base.metadata.create_all(engine)

2019-04-10 01:04:32,063 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-04-10 01:04:32,064 INFO sqlalchemy.engine.base.Engine {'name': 'users'}
2019-04-10 01:04:32,068 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-04-10 01:04:32,070 INFO sqlalchemy.engine.base.Engine {'name': 'addresses'}
2019-04-10 01:04:32,073 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id SERIAL NOT NULL,
	email_address VARCHAR NOT NULL,
	user_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2019-04-10 01:04:32,075 INFO sqlalchemy.engine.base.Engine {}
2019-04-10 01:04:32,432 INFO sqlalchemy.engine.base.Engine COMMIT

In [27]:
minoo = User(name='Minoo', fullname='Minoo Arora', nickname='minoo')

In [28]:
minoo.addresses

[]

In [29]:
# a blank addresses collection is present
minoo.addresses = [
    Address(email_address='minooarora08@google.com'),
    Address(email_address='minoo_arora@yahoo.com')
]

In [30]:
minoo.addresses[1]

<Address(email_address=minoo_arora@yahoo.com)

In [31]:
minoo.addresses[1].user

In [32]:
session.add(minoo)
session.commit()

2019-04-10 01:06:52,957 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, nickname) VALUES (%(name)s, %(fullname)s, %(nickname)s) RETURNING users.id
2019-04-10 01:06:52,958 INFO sqlalchemy.engine.base.Engine {'name': 'Minoo', 'fullname': 'Minoo Arora', 'nickname': 'minoo'}
2019-04-10 01:06:52,998 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (email_address, user_id) VALUES (%(email_address)s, %(user_id)s) RETURNING addresses.id
2019-04-10 01:06:53,000 INFO sqlalchemy.engine.base.Engine {'email_address': 'minooarora08@google.com', 'user_id': 4}
2019-04-10 01:06:53,003 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (email_address, user_id) VALUES (%(email_address)s, %(user_id)s) RETURNING addresses.id
2019-04-10 01:06:53,004 INFO sqlalchemy.engine.base.Engine {'email_address': 'minoo_arora@yahoo.com', 'user_id': 4}
2019-04-10 01:06:53,006 INFO sqlalchemy.engine.base.Engine COMMIT

In [33]:
minoo = session.query(User).filter_by(name='Minoo').one()
minoo

2019-04-10 01:07:49,636 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-04-10 01:07:49,638 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name = %(name_1)s
2019-04-10 01:07:49,640 INFO sqlalchemy.engine.base.Engine {'name_1': 'Minoo'}

In [34]:
minoo.addresses

2019-04-10 01:08:06,274 INFO sqlalchemy.engine.base.Engine SELECT addresses.id AS addresses_id, addresses.email_address AS addresses_email_address, addresses.user_id AS addresses_user_id
FROM addresses
WHERE %(param_1)s = addresses.user_id ORDER BY addresses.id
2019-04-10 01:08:06,277 INFO sqlalchemy.engine.base.Engine {'param_1': 4}

[<Address(email_address=minooarora08@google.com),
 <Address(email_address=minoo_arora@yahoo.com)]